<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sky.sky.shopcart">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <application
        android:name=".ShoppingCartApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.GoodsDetailActivity" />
        <activity android:name=".activity.ShoppingCartActivity" />
        <activity android:name=".activity.BaseActivity"></activity>
        <activity android:name=".pay.PayDemoActivity"></activity>
        <activity android:name=".pay.H5PayDemoActivity"></activity>

        <meta-data android:value="585b76b5e88bad58390002ca" android:name="UMENG_APPKEY"/>
        <!--Channel ID是渠道推广的名称，自定义的，市场的名称
             统计的是每个市场的App安装量-->
        <meta-data android:value="${UMENG_CHANNEL_VALUE}" android:name="UMENG_CHANNEL"/>


    </application>


</manifest>